<%- include("partials/header"); -%>
    <h1>About</h1>
    &nbsp;
    <p> Name : Mihir Hemnani </p>
    <p> Exploring : App Development, Machine Learing<p> <%= aboutContent %> </p></p>
    <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
