<%- include("partials/header"); -%>
    <h1>Contact</h1>
    &nbsp;
    <p> <%= contactContent %> </p>
    &nbsp;
    <p> Gmail : mihir.hemnani99@gmail.com </p>
    <p> Phone Number : 932#####31 </p>
    <p> Portfolio : <a href="https://micvick.github.io/Portfolio/">Website Link</a> </p>
    
<%- include("partials/footer"); -%>
